.story-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.story-link {
    font-size: 0.8rem;
}

.story-comments-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 8px 12px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.13); */
}

.story-comments-title {
    font-weight: bold;
}

.story-comments-list {
    padding: 1rem 0;
}

.story-comment {
    padding: 8px 12px;
    border-bottom: 1px solid gray;
    margin-bottom: 12px;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
}

.story-comment-footer {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}

.story-comment-footer-extend {
    display: flex;
    flex-direction: row;
}

.story-comment ion-label {
    width: 100%;
}

.story-comment ion-icon {
    color: gray;
}